.register-container {
    width: 60%;
    height: 30em;
    position: relative;
    left: 20%;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    box-shadow: 2px 5px 10px black;
}

.sing-in-container {
    width: 60%;
    height: 30em;
    position: relative;
    left: 20%;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    box-shadow: 2px 5px 10px black;
}

.image_sign-up {
    grid-column: 1/5;
    grid-row: 2/11;
    background-image: url("/static/images/Reg-online.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.form {
    grid-column: 6/11;
    grid-row: 2/11;
}

.sign-in-container {
    text-align: center;
    width: 40%;
    height: 30em;
    position: relative;
    left: 30%;
    box-shadow: 3px 5px 10px black;
}

.register-article {
    width: 70%;
    height: 30em;
    position: relative;
    left: 15%;
    box-shadow: 2px 5px 10px black;
    text-align: center;
}

.article-container{
    width: 90%;
    height: 25em;
    position: relative;
    left: 5%;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
}

.article-content{
    grid-column: 1/8;
    grid-row: 1/11;
    box-shadow: 3px 5px 10px black;
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: repeat(10,10%);
}

.article-text{
    grid-column: 4/11;
    grid-row: 1/11;
}

.article-options{
    grid-column: 7/11;
    grid-row: 1/11;
}

.article-image{
    grid-column: 1/4;
    grid-row: 1/11;
}