{% extends "base.html" %}
{% block title %}
    Ver articulo
{% endblock %}

{% block content %}

    <div class="article-container"> 
        <div class="card mb-3 article-content" style="max-width: 100%;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/images{{article.image.url}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8 ">
                <div class="card-body">
                  <h5 class="card-title">{{article.title}}</h5>
                  <br>
                  <h6 class="card-text">Autor: {{article.author_fk}}</h6>
                  <h6 class="card-text">Fecha: {{article.date}}</h6>
                  <br><br>
                  <p class="card-text">{{article.text}}</p>
                </div>
              </div>
            </div>
          </div>
          {% if user.is_authenticated %}
            <div class="article-options">
              <div class="card" style="width: 100%;">
                <ul class="list-group list-group-flush">
                  {% if user.id == article.author_fk.id %}
                  <li class="list-group-item">
                    <a href="{% url 'articles:edit_article' article.id%}">
                      <button type="button" class="btn btn-primary">&nbsp &nbsp Editar &nbsp &nbsp</button>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'articles:remove_article' article.id%}">
                      <button type="button" class="btn btn-primary">&nbsp Eliminar &nbsp</button>
                  </li>
                  {% endif %}
                  {% if not like %}
                  <li class="list-group-item">
                    <a href="{% url 'articles:like_article' article.id %}">
                      <label>&nbsp{{article.hearts_amount}} &nbsp</label>
                      <button type="button" class="btn btn-primary"> Me gusta &nbsp</button>
                    </a>
                  </li>
                  {% else %}
                  <li class="list-group-item">
                    <a href="{% url 'articles:dislike_article' article.id %}">
                      <label>&nbsp{{article.hearts_amount}} &nbsp</label>
                      <button type="button" class="btn btn-primary">Ya no me gusta</button>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </div>
          {% endif %}
            </div>
          </div>
          <div class="comment-container">
            <form method="post" action="{% url 'articles:comment_article' article.id %}">
              {% csrf_token %}
              {% if user.is_authenticated %}
              <div class="comment-text">
                <textarea class="form-control" name="text" placeholder="Deja un comentario aquí" id="floatingTextarea2" style="height: 100px"></textarea>
                <button type="submit" class="btn btn-primary">Comentar</button>
              </div>
            {% else %}
              <div class="comment-text">
                <textarea class="form-control" readonly name="text" placeholder="Deja un comentario aquí" id="floatingTextarea2" style="height: 100px">No puedes comentar debido a que no estas logueado</textarea>
              </div>
            {% endif %}
          </div>
        </form>
          <br> <br>
          <div class="container">
            {% for comment in comments %}
            <div class="row">
              <div class="col">
                <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
                  <div class="card-header">{{comment.author_fk}} - {{comment.date}}</div>
                  <div class="card-body">
                    
                    <p class="card-title"> {{comment.text}} </p>
                    <label>{{comment.likes}}&nbsp</label>
                    <button type="button" class="btn btn-warning">Like</button>
                    <label>&nbsp{{comment.dislikes}}&nbsp</label>
                    <button type="button" class="btn btn-danger">Dislike</button>
                  </div>
                </div>
                    {% for sub_comment in sub_comments %}
                    {% if sub_comment.comentario_fk.id == comment.id %}
                    <div class="card text-dark bg-light mb-3" style="max-width: 25rem; margin-left:25em">
                      <div class="card-header">{{sub_comment.author_fk}} - {{sub_comment.date}}</div>
                      <div class="card-body">
                        <p class="card-text">{{sub_comment.text}}</p>
                        <label>{{sub_comment.likes}}&nbsp</label>
                      <button type="button" class="btn btn-warning">Like</button>
                      <label>&nbsp{{sub_comment.dislikes}}&nbsp</label>
                      <button type="button" class="btn btn-danger">Dislike</button>
                      </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                {% if user.is_authenticated %}
                <form method="post" action="{% url 'articles:subcomment' comment.id %}">
                  {% csrf_token %}
                  <div style="margin-left:25em">
                    <textarea class="form-control" name="text-comment" placeholder="Subcomenta este comentario un comentario aquí" id="floatingTextarea2" style="height: 50px"></textarea>
                    <button type="submit" class="btn btn-primary" style="float:right">Comentar</button>
                  </div>
                </form>
                {% endif %}
                  <br>
              </div>
            </div>
            {% endfor %}
          </div>
    
{% endblock %}