{% extends 'base.html' %}

{% block title%}
    Register section
{% endblock %}

{% block content%}
    <div class="register-container">
        <div class="image_sign-up">
            
        </div>
        <div class="form">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form.errors %}
                    {{ form.errors }}
                {% endif %}
                {% for fields in form %}
                    <p>{{ fields.label }}</p>
                    <p>{{ fields}}</p>
                {% endfor %}
                <input type="submit" value="Registrarme">
            </form>
    </div>
{% endblock %}



