{% extends 'base.html' %}
{% load static %}

{% block session %}
    
{% endblock %}


{% block title %}
Sign in 
{% endblock %}

{% block content %}
    <div class="sign-in-container">
        <form method="post">
            {% csrf_token%}
            <br>
        <h1>Iniciar Sesión</h1>
        {% if form.errors %}
        {{ form.errors }}
        {% endif %}
                <br>
                <p>Nombre de usuario</p>
                {{form.username}}
                <br> <br>
                <p>Contraseña</p>
                {{form.password}}
                <br><br><br>
            <input type="submit" value="Iniciar sesión">
        </form>
    </div>
{% endblock %}
